header {
    width: 100%;
    position: fixed;  
    z-index: 101;
    background-color: $bg-grey-dark-color;

    nav {
        .menu {
            z-index: 101;
            display: flex;
            padding: 13px 70px;
            margin: 0;
            list-style-type: none; 
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            left: -100%;
            width: 300px;
            height: 100vh;
            padding: 20px 15px;
            background-color: $main-light-color;
            transition: 0.6s all;
            &_active {
                left: 0;
                z-index: 101;
            }		
            &_item {
                padding-right: 0;
                border: none;
                margin: 10px 0;
            }			
            &_link {
                color: #ffffff;
                font-size: 15px;
                font-weight: 300;
                font-size: 20px;
            }      
        }
    }
}

.subheader {
        width: 100%;
        height: 100%;
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(5, minmax(100px, 1fr)) 80px 70px;
        grid-template-rows: 70px;
        align-items: center;
        
        .phone__wrapper {
            display: flex;
            justify-content: center;
            img {
                display: block;
                height: 20px;
                width: 20px;
                margin: auto 5px;
            }
            .kyivstar:hover {
                color: $kyivstar-color;
            }
            .vodafone:hover {
                color: $vodafone-color;
            }
            .lifecell:hover {
                color: $lifecell-color;
            }
        }

        &_call {
            color: $main-light-color;         
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
        }

        &__dropbutton {
            display: none;
            margin:  0px;
            
            a {
                display: block;
                padding: 0 15px;
                margin: 0 auto;
                border-radius: 5px;
            }
            a:hover {
                background-color: #ccc;
            }
        }
     
        &__logo {
            max-width: 100%;
            img {
                display: block;
                margin-top: 5px;
                border-style: none;
                border-radius: 10px
            }
            &-mini {
                display: none;
                max-width: 100%;
                img {
                    height: 45px;
                    margin-top: 7px;
                    border-radius: 10px
                }
            }
        }
        
        &__phone {
        display: block;
        color:$main-light-color;
        font-weight: 500;
        text-transform: uppercase;
        }
        .mobile {
            padding-top: 5px;
            height: 50px;
            img {
                max-height: 100%;
                max-width: 100%;                    
            }
        }

    .hamburger {
        display: block;
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		width: 30px;
		height: 18px;
        margin: auto;
        span {
            display: block;
            height: 3px;
            width: 100%;
            background-color: #262525;
            margin-bottom: 3px;
            transition: 0.5s all;
        }		
        &_active {
            span {
                margin-bottom: -3px;
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }       
                &:nth-child(2) {
                    display: none;
                }      
                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
                        
            }          
        }
    }
}   
    
    
    


