.language {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid $main-light-color;
    border-radius: 10px;
    &-item {
        a {   
            color: $main-light-color;
        }
        a.ukr {
            display: none;
        }
    }

    .divider-vert {
        display: none;
    }
}