html {
  scroll-behavior: smooth;
}
*,
*::after,
*::before
{
    box-sizing: border-box;
}

body {
    margin: 0;
    color: $main-font-color;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    background-color: $bg-primary-color;

    @media screen and (min-width: $bp-tablet) {
        font-size: 18px;
        font-weight: 400;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
    list-style: disc;
}


.main {
    display: none;
}


.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;

    @media screen and (max-width: $bp-mobile) {
        padding: 0 5px;
    }
}

.divider {
    width: 60px;
    height: 5px;
    background-color: $main-light-color;
    margin: 0 auto 0 20px;
}
