$bp-mini:   320px;
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
$bp-card:   992px;

$main-light-color: #f9872b;
$main-midl-color: #FC700B;
$main-dark-color: #C4441C;
$main-font-color: #31261a;
$bg-grey-color: #e2e2e2;
$bg-grey-dark-color: #ccc;

$bg-primary-color: #FAF4EA;

$kyivstar-color: #00b3ff;
$vodafone-color: red;
$lifecell-color: #e2de13;